<article>
    <div class="stack">
        @for (ad of ads(); track ad.id) {
        <article class="job-ad">
            <header>{{ ad.title }}</header>
            <p>{{ ad.textEN }}</p>
            <div class="grid">
                <a role="button" type="button" [routerLink]="['/job', ad.id]">View</a>
                <a role="button" type="button" [routerLink]="['/job', ad.id, 'edit']">Edit</a>
                <button type="button" class="delete-button" (click)="onDelete(ad.id)">
                    Delete
                </button>
            </div>
        </article>
        }
    </div>
</article>
