<article>
    <div class="grid">
        <a routerLink="/" class="back-button">← Back to Jobs</a>
        <a role="button" [routerLink]="['/job', jobAd()?.id, 'edit']" class="edit-all-button">
            Edit
        </a>
    </div>

    @if (isEditingTitle()) {
    <form (ngSubmit)="saveTitle()">
        <input
            type="text"
            [(ngModel)]="newTitle"
            name="title"
            class="job-title-input"
            #titleInput
        />
        <button type="submit">✓</button>
    </form>
    } @else {
    <div class="title-container grid">
        <h1 (dblclick)="startEditingTitle()">{{ jobAd()?.title }}</h1>
        <button class="edit-button small" (click)="startEditingTitle()">✎</button>
    </div>
    }

    <div class="language-switcher">
        <select [(ngModel)]="selectedLanguage">
            <option value="en">English</option>
            @for (translation of jobAd()?.translations ?? []; track $index) {
            <option [value]="translation.language">
                {{ translation.language }}
            </option>
            }
        </select>
    </div>

    <p>
        {{ currentTranslation() }}
    </p>
</article>
